Hi {{ prenom }}! <br>

Suite à ta demande, voici un lien te permettant de changer ton mot de passe.
<br>
<div>
    <a href='{{urlReset}}?token={{resetToken}}'> lien de réinitialisation vers KFR </a>
<div>
<br>
A très bientôt,
<br>
Martialement.
<br>

<div>
    <div dir="ltr">
        <div><b>{{associationNom}}</b></div>
        <div>
            <img src="https://ci4.googleusercontent.com/proxy/st0NGs2QjBSmHUkysWUDWz0uKkFodoU2bkoBtrie9U5Yx59HaCrC2VdjizAeISZ2CCGilkJxamiHETry7YSWSIqHdok=s0-d-e1-ft#http://kungfurennes.fr/logoSignature-petit.jpg"><br>
        </div>
        <div>
            <a href="{{urlSite}}" target="_blank">
            <font color="#3d85c6"><b>{{urlSite}}</b></font></a>
        </div>
        <div>
            Tél : {{associationTelephone}}
        </div>
    </div>
</div>