{% extends 'base.html.twig' %}

{% block body %}
    <h1>RtlqTresorie list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Responsable</th>
                <th>Adherent</th>
                <th>Date</th>
                <th>Montant</th>
                <th>Cheque</th>
                <th>Numerocheque</th>
                <th>Idetat</th>
                <th>Idsaison</th>
                <th>Idcategorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rtlqTresorie in rtlqTresories %}
            <tr>
                <td><a href="{{ path('rtlqtresorie_show', { 'id': rtlqTresorie.id }) }}">{{ rtlqTresorie.id }}</a></td>
                <td>{{ rtlqTresorie.description }}</td>
                <td>{{ rtlqTresorie.responsable }}</td>
                <td>{{ rtlqTresorie.adherent }}</td>
                <td>{% if rtlqTresorie.date %}{{ rtlqTresorie.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ rtlqTresorie.montant }}</td>
                <td>{{ rtlqTresorie.cheque }}</td>
                <td>{{ rtlqTresorie.numeroCheque }}</td>
                <td>{{ rtlqTresorie.idEtat }}</td>
                <td>{{ rtlqTresorie.idSaison }}</td>
                <td>{{ rtlqTresorie.idCategorie }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('rtlqtresorie_show', { 'id': rtlqTresorie.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('rtlqtresorie_edit', { 'id': rtlqTresorie.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rtlqtresorie_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
