<h3>Bienvenue dans l'<b>{{associationNom}}</b></h3>

Salut {{ prenom }}, <br>
<br>
Nous avons le plaisir de te confirmer la création/réiniatialisation de ton compte dans l'intranet.<br>
<br>
Pour te connecter, tu auras besoin de ton login <b>{{login}}</b> et de ton mot de passe qu'il te faudra renseigner.<br>
Pour définir un nouveau mot de passe, clique sur le lien ci-dessous :<br>
<br>
<a href='{{urlReset}}?token={{resetToken}}'> {{urlReset}}?token={{resetToken}} </a><br>
<br>
Si tu n'es pas encore avec nous sur le channel de discussion de l'association, clique sur le lien ci-dessous (il te faudra peut-être créer un compte sur discord) : <br>
<br>
<a href='{{urlDiscord}}'> {{urlDiscord}} </a><br>
<br>
A très bientôt,
<br>
Martialement.
<br>
PS : Si les liens ne fonctionnent pas, tu peux les copier et les coller dans la barre d’adresse de ton navigateur.<br>
<br>
<div>
    <div dir="ltr">
        <div><b>{{associationNom}}</b></div>
        <div>
            <img src="https://ci4.googleusercontent.com/proxy/st0NGs2QjBSmHUkysWUDWz0uKkFodoU2bkoBtrie9U5Yx59HaCrC2VdjizAeISZ2CCGilkJxamiHETry7YSWSIqHdok=s0-d-e1-ft#http://kungfurennes.fr/logoSignature-petit.jpg"><br>
        </div>
        <div>
            <a href="{{urlSite}}" target="_blank">
            <font color="#3d85c6"><b>{{urlSite}}</b></font></a>
        </div>
        <div>
            Tél : {{associationTelephone}}
        </div>
    </div>
</div>