<rss xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0">
    <channel>
        <title>{{info.title}}</title>
        <link>{{info.url}}</link>
        <description>{{info.description}}</description>
        <language>fr</language>
        <pubDate>{{info.publication}}</pubDate>
        <webMaster>{{info.email}} ({{info.author}})</webMaster>
        <image>
            <title>{{info.title}}</title>
            <url>{{info.image_url}}</url>
            <link>{{info.url}}</link>
        </image>
        {% for item in items %}
        <item>
            <link>{{info.url}}/news/{{ item.id }}</link>
            <guid isPermaLink="false">{{info.url}}/news/{{ item.id }}</guid>
            <title>{{ item.title }}</title>
            <description>{{ item.description }}</description>
            <pubDate>{{ item.dateCreation|date("r") }}</pubDate>
            <author>{{info.email}} ({{info.author}})</author>
        </item>
        {% endfor %}
    </channel>
</rss>