<h3>You did it! You registered!</h3>

Hi {{ prenom }}! You're successfully registered.

-- 
<br>
<div class="gmail_signature" data-smartmail="gmail_signature">
    <div dir="ltr">
        <div><b>{{associationNom}}</b></div>
        <div>
            <img src="https://ci4.googleusercontent.com/proxy/st0NGs2QjBSmHUkysWUDWz0uKkFodoU2bkoBtrie9U5Yx59HaCrC2VdjizAeISZ2CCGilkJxamiHETry7YSWSIqHdok=s0-d-e1-ft#http://kungfurennes.fr/logoSignature-petit.jpg"><br>
        </div>
        <div>
            <a href="{{urlSite}}" target="_blank">
            <font color="#3d85c6"><b>{{urlSite}}</b></font></a>
        </div>
        <div>
            Tél : {{associationTelephone}}
        </div>
    </div>
</div>


