Bonjour {{ prenom }}! <br>

Bienvenue dans l'assocaition <b>{{associationNom}}</b>.
<br>
Suite à votre inscription, votre compte a été créé ou réinitialisé dans l'intranet de l'association.
<br>
Via votre login {{login}}, vous pouvez vous connecter à notre <a href='{{urlSiteIntranet}}'>l'intranet</a>
<br>
Mais avant il vous faudra saisir votre mot de passe : <a href='{{urlReset}}?token={{resetToken}}'> lien de changement de votre mot de passe.</a>
<br>
<br>
Afin de discuter avec les membres de l'association, un channel de discussion est ouvert.<br>
Voici une invitation vous permettant de réaliser la création d'un compte : <a href='{{urlDiscord}}'> Je crée mon compte sur discord</a>
<br>
A très bientôt,
<br>
Martialement
<br>
-- 
<br>
<div>
    <div dir="ltr">
        <div><b>{{associationNom}}</b></div>
        <div>
            <img src="https://ci4.googleusercontent.com/proxy/st0NGs2QjBSmHUkysWUDWz0uKkFodoU2bkoBtrie9U5Yx59HaCrC2VdjizAeISZ2CCGilkJxamiHETry7YSWSIqHdok=s0-d-e1-ft#http://kungfurennes.fr/logoSignature-petit.jpg"><br>
        </div>
        <div>
            <a href="{{urlSite}}" target="_blank">
            <font color="#3d85c6"><b>{{urlSite}}</b></font></a>
        </div>
        <div>
            Tél : {{associationTelephone}}
        </div>
    </div>
</div>