Bonjour {{ prenom }}! <br>
 <br>
Bienvenue dans l'<b>{{associationNom}}</b>.
<br>
Suite à ton inscription, ton compte a été créé ou réinitialisé dans l'intranet de l'association.
<br>
Via ton login <b>{{login}}</b>, te peux te connecter à notre <a href='{{urlSiteIntranet}}'>intranet</a>
<br>
Mais avant il te faudra saisir ton mot de passe : <a href='{{urlReset}}?token={{resetToken}}'> lien de changement de ton mot de passe.</a>
<br>
<br>
Afin de discuter avec les membres de l'association, un channel de discussion est ouvert.<br>
Voici une invitation te permettant de nous rejoindre (il te faudra faire une création d'un compte) : <a href='{{urlDiscord}}'> Je crée/connecte au discord de  l'<b>{{associationNom}}</a>
<br>
A très bientôt,
<br>
Martialement.
<br>
-- 
<br>
<div>
    <div dir="ltr">
        <div><b>{{associationNom}}</b></div>
        <div>
            <img src="https://ci4.googleusercontent.com/proxy/st0NGs2QjBSmHUkysWUDWz0uKkFodoU2bkoBtrie9U5Yx59HaCrC2VdjizAeISZ2CCGilkJxamiHETry7YSWSIqHdok=s0-d-e1-ft#http://kungfurennes.fr/logoSignature-petit.jpg"><br>
        </div>
        <div>
            <a href="{{urlSite}}" target="_blank">
            <font color="#3d85c6"><b>{{urlSite}}</b></font></a>
        </div>
        <div>
            Tél : {{associationTelephone}}
        </div>
    </div>
</div>